.home-container {
  padding: 5em 2em;
}

.home-header-row {
  padding-bottom: 5em;
}

.home-video-pitch-label {
  background-color: #D9A520;
  display: flex;
  border-radius: 15px;
  height: 50px;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
}