@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.layout-container{
  font-family: 'Inter', sans-serif;
}

.home-button-icon:hover {
  opacity: .5;
}

.home-button-icon {
  margin-left: 2em;
  border-radius: 10px;
  left: 2em;
  top: 1.75em;
  position: absolute;
}

.navbar-button-project {
  margin-left: 5em;
  margin: 0em 2.5em 0em 1em;
  padding: .8em 3em;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  background: linear-gradient(90deg, #FF914D, #FFDE59);
  transition: all 0.3s ease;
}

.navbar-button-project:hover {
  transform: scale(1.1); /* Aumenta o botão */
  background: linear-gradient(90deg, #FF7A00, #FFC800); /* Escurece o fundo */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra para dar efeito de profundidade */
}

.backgroud-pag {
  margin-top: -2em;
  margin-bottom: -2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #2C4276;
}